<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
<body>
    <div class="back-button">
        <button id="backButton">⬅ Voltar</button>
    </div>
        <div class="form-container">
            <h1>Cadastro</h1>
            <form id="cadastroForm">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" name="nome" required>
                    <div class="error" id="nomeError"></div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" required>
                    <div class="error" id="emailError"></div>
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha" required>
                    <div class="error" id="senhaError"></div>
                </div>
                <div class="form-group">
                    <label for="Telefone">Tel</label>
                    <input type="telefone" id="tel" name="telefone" required>
                <div class="error" id="telefoneError">
                </div>
            
                <div class="form-group">
                    <label for="Telefone">Nome de Usuario:</label>
                    <input type="username" id="usuario" name="usuario" required>
                <div class="error" id="username"></div>

                <button type="submit">Cadastrar</button>
            </form>
        </div>
</body>
</html>
